<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="53a521dc-66f6-4a39-8a7d-873ae7f0c689"
            Publisher="CN=Falak"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>grid division</DisplayName>
    <PublisherDisplayName>Falak</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="grid_division.App">
        <VisualElements
            DisplayName="grid division"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="grid division"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>