<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="378a6e35-3b45-4e3a-a24c-cb1c89942b82" Publisher="CN=Teacher" Version="1.1.0.0" />
  <Properties>
    <DisplayName>TilesInStoreApp</DisplayName>
    <PublisherDisplayName>Teacher</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TilesInStoreApp.App">
      <m2:VisualElements DisplayName="TilesInStoreApp" Description="TilesInStoreApp" BackgroundColor="#C72343" ForegroundText="light" ToastCapable="true" Square150x150Logo="Assets\square_logo.png" Square30x30Logo="Assets\small_logo.png">
        <m2:DefaultTile ShortName="GULL APP">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>